* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.menu-container {
    color: white;
    margin: 0 auto;
    background-color: #1F2937;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

.menu {
    min-width: 900px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header {
    text-align: center;
    padding: 100px 20px;
    background-color: #1F2937;
    color: white;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 900px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    max-width: 440px;
}

.header-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #f9faf8;
}

.header-subtitle {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 40px;
}

.header-button {
    align-items: flex-start;
    min-width: 100%;
}

.header-cta {
    background-color: #3882F6;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 200px;
}

.header-cta:hover {
    background-color: #0f68f7;
}

.header-image {
    min-width: 600px;
    padding: 20px;
}

.header-box {
    background-color: #9c9c9c;
    padding: 40px;
    margin: auto;
    text-align: center;
    height: 200px;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    margin: 60px;
    text-align: center;
}

.info-block {
    max-width: 200px;
    text-align: center;
}

.info-images {
    border: 3px solid #3882F6;
    padding: 60px;
    border-radius: 20px;
    gap: 40px;
}

.info-text {
    font-size: 16px;
    margin-bottom: 100px;
}

.quote-section {
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
}

.quote-container {
    padding: 20px;
    margin: 100px auto;
    max-width: 900px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
}

.name-container {
    margin-top: 20px;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
}

.quote-name {
    font-size: 24px;
    color: #1F2937;
    font-weight: 600;
}

.signup-box {
    background-color: #3882F6;
    color: white;
    padding: 60px 130px;
    margin: 60px auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 10px;
}

.signup-content {
    flex: 1;
}

.signup-button {
    flex-shrink: 0;
    margin-left: 40px;
}

.signup-cta {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}